body {
    margin: 0;
    background-color: #ffffd2;
}
#myVideo {
    width: 100%;
}
.heading {
    display: flex;
    justify-content: center;
}
h1 {
    color:#aa96da;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.fam {
    color: #a8d8ea;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.sweet {
    color:#aa96da;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}
.features {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.plan {
    display: flex;
    flex-direction: column;
    background-color: pink;
    margin: 20px;
    padding: 20px;
    flex: 1;
}
h3, img, a  {
    align-self: center;
}
.list {
    background-color:#ffffd2;
    color: #7c7575;
}
h3 {
    color:#52616b;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.price {
    color:#52616b;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    align-self: center;
}
del {
    background-color: #fbb;
}
ins {
    text-decoration: none;
    transform: rotate(-7deg);
    display: inline-block;
    
}
.btn {
    background-color: #aa96da;
    color: #ffffd2;
    font-size: 30px;
    border-radius: 10px;
}

@media all and (max-width: 800px) {
    .sweet {
        font-size: 15px;
        margin: 20px;
    }
    .fam {
        font-size: 15px;
        margin: 20px;
    } 
}
@media all and (max-width: 500px) {
    .sweet {
        font-size: 15px;
        margin: 20px;
    }
    .fam {
        font-size: 15px;
        margin: 20px;
    } 
    h3 {
        font-size: 20px;
    }
}